<DOCTYPE html>
  <html ng-app="myApp">
  <head>
    <base href="/">
    <title>railsangapp</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
    <!-- <link href='https://fonts.googleapis.com/css?family=Arapey' rel='stylesheet' type='text/css'> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <%= javascript_include_tag 'angular-route.min.js', 'angular', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'skeleton', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>


  </head>

  <!-- rails header  -->
  <%= render 'layouts/header' unless @disable_page %>

    <!-- angular renders here  -->
  <div ng-view>
  </div>

  <!-- rails renders here -->
  <%= yield %>

  <!-- rails footer -->
  <%= render 'layouts/footer' unless @disable_page %>

</html>
